*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  background-image: url(../img/fundo.jpg);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 52% 3%;
}


header{
  background-color: #040f48bd;
  box-shadow: 0px 1px 10px #464646;
}

.nav-bar{
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 6rem;  
}

.logo{
  display: flex;
  align-items: center;
}

.logo h1{
  color: #ffff;
  font-family: OCR A Std, monospace;
}

.nav-list{
  display: flex;
  align-items: center;
}
.nav-list ul{
  display: flex;
  justify-content: center;
  list-style: none;
}

.nav-item{
  margin: 0 20px;
}

.nav-link{
  text-decoration: none;
  font-size: 1.15rem;
  color: blanchedalmond;
  font-weight: 400;
  font-family: OCR A Std, monospace;
}

.login-button button{
  border: none;
  background-color: rgba(6, 233, 233, 0.799);
  padding: 9px 15px;
  border-radius: 5px;
  font-family: OCR A Std, monospace;
}

.login-button button a{
  text-decoration: none;
  color: #f4e9e9;
  font-weight: 500;
}

.mobile-menu-icon{
  display: none;

}

.mobile-menu{
  display: none;   
}

.login_body {
  padding: 60px;
  z-index: 90;
  position: relative;
  max-width: 400px;
  height: 475px;
  margin-left: 50%;
  margin-top: 10%;
  background-color: rgb(0, 0, 0, .70);
  border-radius: 10px;
  box-sizing: border-box;
  transform: translateX(-50%);
  align-items: center;
  justify-content: center;
}


.login_body h2 {
  font-size: 32px;
  color: #fff;
  margin-left: 32.5%;
  margin-bottom: 15px;
  font-family: Comic Sans MS, Comic Sans, cursive;
}

.login_body input {
  height: 50px;
  width: 97%;
  color: #fff;
  background-color: #333;
  border: none;
  border-radius: 5px;
  padding-left: 15;
  box-sizing: border-box;
  outline: none;
  margin-left: 3%;
}


.login_body input:hover{
  background-color: #444;
}

.input_box {
  margin-bottom: 20px;
}
input{
  color: rgb(255, 254, 254);
}

.login_body button {
  height: 50px;
  width: 90%;
  color: #fff;
  background-color: rgb(56, 102, 0,0.8);
  border-radius: 5px;
  font-weight: bold;
  font-size: 17px;
  border: none;
  margin-top: 30px;
  margin-bottom: 2px;
  margin-left: 6%;
}

.login_body button:hover{
  background-color: rgb(33, 59, 2,0.8);
  cursor: pointer;
}

.subs button {
  background-color: #231a32;
  margin-top: 48px;
  width: 50%;
  margin-left: 25%;
}

.subs button:hover{
  background-color:#130f1a;
  cursor: pointer;
}
